body{

  background-image: url("../img/fondo_buap1.png");
  background-color: #003b5c;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

.fondo_formulario{
  background-color:rgba(255,255, 255, 0.9);
}
